<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shaza.graduationproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Template.Main_Template"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.HelpingCommunity"
            android:label="Question"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SupportStartUp"
            android:label="Support startup"
            android:parentActivityName=".Activities.Home_Page" />
        <activity
            android:name=".Activities.Reward_campaign_Home_page"
            android:label="Reward camp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Create_new_campaign"
            android:label="Create campaign"
            android:parentActivityName=".Activities.Home_Page" />
        <activity
            android:name=".Activities.New_campaign_reward"
            android:label="Create reward campaign"
            android:parentActivityName=".Activities.Create_new_campaign" />
        <activity
            android:name=".Activities.Campaign_info_for_creator"
            android:label="Campaign details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Shop_Page"
            android:label="Shop"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>