<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shaza.graduationproject">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Template.Main_Template"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Home_Page"
            android:label="@string/graduation_project_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SupportStartUp"
            android:label="@string/SpportStartup"
            android:parentActivityName=".Activities.Home_Page" />
        <activity
            android:name=".Activities.Reward_campaign_Home_page"
            android:label="@string/RewardCamp"
            android:theme="@style/AppTheme.spinner" />
        <activity
            android:name=".Activities.Create_new_campaign"
            android:label="@string/CreateCampaign"
            android:parentActivityName=".Activities.Home_Page" />
        <activity
            android:name=".Activities.New_campaign_reward"
            android:label="@string/CreateRewarCampaign"
            android:parentActivityName=".Activities.Create_new_campaign"
            android:theme="@style/AppTheme.spinner.normal" />
        <activity
            android:name=".Activities.New_Campaign_Equity"
            android:label="Create equity campaign"
            android:parentActivityName=".Activities.Create_new_campaign"
            android:theme="@style/AppTheme.spinner.normal" />
        <activity
            android:name=".Activities.Campaign_info_for_creator"
            android:label="@string/CampaignDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Shop_Page"
            android:label="@string/Shop"
            android:theme="@style/AppTheme.spinner" />
        <activity
            android:name=".Activities.Login"
            android:label="@string/Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SignUp"
            android:label="@string/SignUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AskQuestionHelpingCommunity"
            android:label="@string/AskQuestion"
            android:parentActivityName=".Activities.HelpingCommunity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CertainQuestion"
            android:label="@string/Questions"
            android:parentActivityName=".Activities.HelpingCommunity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activities.HelpingCommunity"
            android:label="E-Fund Community"
            android:theme="@style/AppTheme.spinner" />

        <activity
            android:name=".Activities.TalkToExpert"
            android:label="Talk to expert"
            android:theme="@style/AppTheme.CustomThem" />

        <activity
            android:name=".Activities.Equity_campaign_Home_page"
            android:label="Equity Campaign"
            android:theme="@style/AppTheme.spinner" />

        <activity
            android:name=".Activities.Job"
            android:label="Job"
            android:theme="@style/AppTheme.spinner" />

        <activity
            android:name=".Activities.Personal_Page"
            android:label="Profile Page"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activities.Campaign_info_for_funded"
            android:label="@string/CampaignDetails"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activities.Shop_info_for_creator"
            android:label="Product Details"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activities.View_As"
            android:label="View as details campaign"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activities.FundedPage"
            android:label="Payment Process"
            android:theme="@style/AppTheme.CustomThem" />

        <activity
            android:name=".Activities.YourRewardCampaign"
            android:label="Your Reward Campaign"
            android:parentActivityName=".Activities.Personal_Page" />

        <activity
            android:name=".Activities.YourFundRewardCampaign"
            android:label="Your Funded Reward Camp"
            android:parentActivityName=".Activities.Personal_Page" />

        <activity
            android:name=".Activities.YourEquityCampaign"
            android:label="Your Equity Campaign"
            android:parentActivityName=".Activities.Personal_Page" />

        <activity
            android:name=".Activities.YourFundedEquityCampaign"
            android:label="Your Funded Equity Camp"
            android:parentActivityName=".Activities.Personal_Page" />

        <activity
            android:name=".Activities.AddProduct"
            android:label="Add Product" />

        <activity
            android:name=".Activities.ShopInfoForBuying"
            android:label="Product Details"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activities.BuyPage"
            android:label="Payment process"
            android:theme="@style/AppTheme.CustomThem" />

        <activity
            android:name=".Activities.AddCareer"
            android:label="Add Career" />

        <activity
            android:name=".Activities.JobInfoCreator"
            android:label="Job Details"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activities.JobInfoForApplied"
            android:label="Job Details"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activities.CategoryPageReward"
            android:parentActivityName=".Activities.Reward_campaign_Home_page" />

        <activity
            android:name=".Activities.CategoryPageEquity"
            android:parentActivityName=".Activities.Equity_campaign_Home_page" />
    </application>

</manifest>